UAIR_APP_NAME=UAir-raid-analytics
UAIR_DEBUG=false
UAIR_DATABASE_URL=sqlite:///./data/processed/uair_raid_analytics.sqlite3
UAIR_PRIMARY_DATASET_URL=https://raw.githubusercontent.com/Vadimkin/ukrainian-air-raid-sirens-dataset/main/datasets/official_data_uk.csv
UAIR_SECONDARY_DATASET_URL=https://raw.githubusercontent.com/Vadimkin/ukrainian-air-raid-sirens-dataset/main/datasets/volunteer_data_uk.csv

ALERTS_IN_UA_TOKEN=
ALERTS_IN_UA_HISTORY_MIN_INTERVAL_SECONDS=35
ALERTS_IN_UA_HISTORY_DAILY_LIMIT=500
ALERTS_IN_UA_WORKER_ENABLED=false
